.background {
    min-height: 100%;
    height: auto;
    position: center;
    display: flex;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1;
    background: white;

    flex-wrap: wrap;
    justify-content: normal;
}

.header {
    position: center;
    height: 80px;
    font-size: 30px;

    display: flex;
    align-items: center;
}

.cardContainer {
    position: center;
    display: flex;
    width: 955px;
    height: 325px;
}

.imageContainer{
    display: flex;
    width: 315px;
    height: 325px;
}

.slotContainer {
    display: flex;
    width: 100%;
    position: center;
    background: white;

    flex-wrap: wrap;
    justify-content: normal;
}
