.slot {
    display: flex;
    justify-content: space-between;
    position: center;
    padding: 5px;
    width: 100%;
}

.slotPic {
    width: 60px;
    height: 60px;
    margin-left: 16px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 30px;
}

.slotDescription {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.slotHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: inherit;
    position: center;
}

.name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-right: 5px;
}

.stars {
    width: 48px;
    height: 10px;
    margin: 4px;
    font-size: 10px;
}

.comments {
    width: 105px;
    height: 16px;
    margin-top: 4px;
    font-size: 10px;
    line-height: 16px;letter-spacing: 0.4px;
}

.metro {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.address {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.addInfoContainer {
    display: flex;
}
.rightContainer{
    display: flex;
    justify-content: flex-end;
}
.leftContainer{
    display: flex;

}
.icon {
    margin-left: 12px;
    margin-right: 12px;
    top: 50%;
    transform: translate(15%, 25%);
    color: black;
}

.iconEmpty {
    width: 50px;
    top: 50%;
    transform: translate(15%, 25%);
}

.colorBlueSlot {
    color: #034488;
}

.colorGraySlot {
    color: rgba(0, 0, 0, 0.6);
}

.colorBlackSlot {
    color: rgba(0, 0, 0, 0.87);
}

.buttonContainer{
    width: 48px;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    display: flex;
    margin-top: -15px;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}
