.header {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    background-color: #aec55d;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-basis: 270px;
}
.searchContainer{
    min-width: 28%;
    height: 30px;
    display: flex;
    margin: auto 0;
    margin-left: -20px;
}
.buttonContainer {
    max-width: 51%;
    flex-basis: 51%;
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
    margin-right: 6px;

}

.buttonsContainer {
    margin-right: 10px;
    height: 30px;
}
.nameContainer{
    margin: auto;
    margin-right: 10px;
    margin-left: 5px;
}
.icon{
    color:#FFF;
}
.userContainer{
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
