.header {
    background-color: #19B95D;
    padding: 5px 30px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
    z-index: 20;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
.logoContainer {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}
.buttonsContainer {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tmp {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}