.featureContainer{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}
.advert{
    box-sizing: border-box;
    max-height: 200px;
    width: 100%;
    margin: 0px 0px;
    padding: 0px 5px;
    margin-top:20dp;
}
.image{
    border: 1px solid #2F1E0A;
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
