.card {
    width: 315px;
    height: 325px;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}

.buttonContainer {
    box-sizing: border-box;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    display: flex;
    cursor: pointer;
    width: 50%;
    justify-content: center;
    text-decoration: none;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cardHeader {
    position: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardFunction {
    dislpay: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 220px;
    width: 321px;
    height: 105px;
    padding-left: 20px;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0.5);;
}

.name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-right: 5px;
}

.stars {
    width: 48px;
    height: 10px;
    margin: 4px;
    font-size: 10px;
}

.comments {
    width: 105px;
    height: 16px;
    margin-top: 4px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.metro {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    align-content: center;
}

.address {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

}
.iconMore{
    padding-right: 12px;

}
.iconMonetization {
    color: #FFFFFF;
    width: 10px;
    display: flex;
    justify-content: center;
}

.iconEmpty {
    top: 50%;
    transform: translate(15%, 25%);
}

.colorBlueCard {
    color: #178FD6;
}

.colorGrayCard {
    color: #DADADA;
}

.colorWhiteCard {
    color: #FFFFFF;
}
