.navSite{
    display: flex;
    justify-content: center;
    background: #F9FBEF;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.menu{
    display: flex;
    width: 71.5%;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 13px;
    list-style-type: none;
    padding-left: 0;


}

.menu > li > a{
    color: #739C3E;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;

    display: block;
    padding: 0 35px;
    margin: auto;
}
