.navSite{
    display: flex;
    background: #F9FBEF;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
.menu{
    display: flex;
    height: 13px;
    list-style-type: none;

}
.menu > li > a{
    color: #739C3E;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    text-decoration: none;

    display: block;
    padding: 0 47px;
    margin: 0;
}
