@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.Searcher {box-sizing: border-box;}
.Searcher div{
    position: absolute;
    width: 400px;
    left:270px;
    height: 30px;
    background: #E9F0C0;
    border-radius: 4px;
    top: calc(50% - 30px/2 + 1px);
    z-index: 20;
    display:flex;
    flex-wrap: wrap;
}
.Searcher input::-webkit-input-placeholder {
    color: #DCD294 !important;
}

.Searcher input {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 367px;
    -webkit-appearance: none;
    position: relative;
    background: #E9F0C0;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    color:#DCD294;
    padding-left: 20px;
}

.Searcher button[type="submit"] {
    display: inline-block;
    width: 22px;
    float: left;
    align-items: center;
    padding: 0px;
    margin-right: 11px;
    border: none;
    background: url(search.png) no-repeat 50% 50%;
    cursor: pointer;
}

