.searcher {box-sizing: border-box;}
.searcher{
    display:flex;
    height: 30px;
    width: 100%;
    background: #E9F0C0;
    border-radius: 4px;
    z-index: 20;
}
.searcher input::-webkit-input-placeholder {
    color: #DCD294;
}

.searcher input {
    display: inline-block;
    width: 94%;
    box-sizing: border-box;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background: #E9F0C0;
    border-radius: 4px;
    font-size: 16px;
    color:#DCD294;
    padding-left: 20px;
}

.searcher button[type="submit"] {
    display: inline-block;
    width: 22px;
    float: left;
    align-items: center;
    padding: 0px;
    margin-right: 11px;
    border: none;
    background: url(search.png) no-repeat 50% 50%;
    cursor: pointer;
}
