# Стандартные библиотеки
ipython == 7.13.0
ipykernel == 5.1.4
jupyter == 1.0.0
numpy == 1.18.1
pandas == 1.0.1
matplotlib == 3.2.0
scipy == 1.4.1

# (Саша) Чтение excel-файлов
xlrd == 1.2.0
# (Саша) Тестирование
pytest == 5.4.1

# (Гриша) парсинг сайтов
goose3 == 3.1.6 
vk == 2.0.2
scrapy == 1.8.0 
