.upload {
    color: #19B95D;
    cursor: pointer;
}
.upload:hover {
    color: #128040;
}

.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    margin-left: 20px;
}

.uploadContainer {
    text-align: center;
}

.saveButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}