.container{
    margin-bottom: 35px;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-direction: column;

}
.containerComment{
    box-sizing: border-box;
    padding: 20px;
    background: #fffcf6;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.containerAnswer{
    margin-top:20px;
    margin-left: 20px;
    margin-bottom: 0px;
    box-shadow: none;
}
.containerInfo{
    display: flex;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoData{

    padding-left: 12px;
    display: flex;
    flex-direction: column;
}
.data{
    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #9B9B9B;
}
.icon{
    margin: 0;
    color:#178fd6;
}
.userName{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    color: #000000;

}
.list{
    padding: 0;
}
.containerAction{
    margin-top: 20px;
    margin-right: 30px;
}



.textArea{
    padding-left: 5px;
    min-width: 99%;
    border: none;
    min-height: 50px;
}
.textArea::-webkit-input-placeholder {
    color: #DADADA;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.87);
}
.buttonContainer{
    display: flex;
    justify-content: right;
}
.buttonsContainer{
    display: flex;

}
.lastLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.rating{
    display:flex;
    color: #034488;
}

.labelAnswer{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0;
    margin-bottom: 20px;
}
