.form {
    display: flex;
}

.upload {
    color: #19B95D;
    cursor: pointer;
}
.upload:hover {
    color: #128040;
}

.input {
    width: 40px;
    position: absolute;
}

.label {
    margin-left: 20px;
}

.uploadContainer {
    text-align: center;
    width: 60px;
    height: 60px;
}

.saveButton {
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
