.form {
    display: block;
}

.upload {
    color: #19B95D;
    cursor: pointer;
}
.upload:hover {
    color: #128040;
}

.inputContainer {
    display: block;
}

.input {
    height: 32px;
    width: 230px;
    position: relative;
    margin: 10px 0;
    padding-left: 9px;

    border: 1px solid #034488;
    border-radius: 3.5px;
    /*border-color: #034488;*/

    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.input:focus {
    color: black;
}

.label {
    margin-left: 20px;
}

.uploadContainer {
    text-align: center;
    width: 60px;
    height: 60px;
}

.saveButton {
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
