.buttons {
    display: inline-block;
}

.upload {
    color: #19B95D;
    cursor: pointer;
    margin-right: 10px;
}
.upload:hover {
    color: #128040;
}

.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.avatar {
    height: 80px;
}

.uploadBlock {
    display: flex;
    flex-wrap: nowrap;
}

.cloud {
    width: 57%;
    text-align: right;
}

.image {
    width: 43%;
    margin-top: auto;
    margin-bottom: auto;
}

.closeIcon {
    margin-bottom: 60px;
    margin-left: 5px;
    cursor: pointer;
}
