.buttons {
    display: flex;
    justify-content: space-around;
}

/*.header {
    width: 100%;
    background: linear-gradient(to right, #79827a, #19B95D);
    height: 100px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid black;
    position:relative;
}*/

/*
.headerTitle {
    color: white;
    font-size: 30px;
    margin: auto 20px;
}

.signIn {
    margin: auto 0;
    position: absolute;
    right: 30px;
    top: 10px;
}*/