.infoContainer {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}

.name {
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.metro {
    margin-top: 12px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #034488;
}

.editButton {
    width: auto;
    height: 36px;
    margin-top: 14px;

    background: #EDECE8;
    border: 1px solid #2F1E0A;
    box-sizing: border-box;
    border-radius: 4px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 500;

    display: flex;
    align-items: center;
    letter-spacing: 0.16px;

    color: #034488;
}

.iconEdit {
    margin-left: 12px;
}

.buttonContainer {
    display: flex;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.editContainer {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}
