@import url('https://fonts.googleapis.com/css?family=Prosto+One&display=swap');
.logo {
    /*position: absolute;
    left: 20px;
    top: 7px;
*/
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 24px;
    cursor: pointer;

    /* or 69% */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;

    color: #FFFFFF;

}
