.dropBtn{
    background: #E9F0C0;
    border-radius: 4px;
    width: 125px;
    height: 30px;
    color: #739C3E;
    padding: 1px;
    border:none;
    float:right;
    cursor: pointer;
    margin: 5px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.16px;
    text-align: center;

}

.dropBtn:hover{
    background-color: #2980B9;
}
.dropdown{
    position:relative;
    display: inline-block;
    width: 19%;
}
.dropdownContent{
    display: none;
    position: absolute;
    background-color: #DCD294;
    min-width: 160px;
    overflow: scroll;
    z-index: 1;
}
.dropdownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}
.show {
    display:block;
}
