.hiddenMenu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 40;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hiddenMenuTicker {
    display: none;
}

.btnMenu {
    color: #fff;
    background-color: #0058B9;
    padding: 7px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 41;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btnMenu span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btnMenu span.first {
    margin-top: 0;
}

.hiddenMenuTicker:checked ~ .btnMenu {
    left: 160px;
}
.hiddenMenuTicker:checked ~ .hiddenMenu {
    left: 0;
}
.hiddenMenuTicker:checked ~ .btnMenu span.first {
    -webkit-transform: rotate(45deg);
    top: 8px;

}
.hiddenMenuTicker:checked ~ .btnMenu span.second {
    opacity: 0;
}
.hiddenMenuTicker:checked ~ .btnMenu span.third {
    -webkit-transform: rotate(-45deg);
    top: -8px;
}