.h3 {
    font-size: 24px;
    margin-top: 0;
    /*margin-bottom: 20px;*/
    color: #85C633;
    font-weight: normal;

}

.text {
    font-style: italic;
    color: #fff;
 /*   box-sizing: border-box;*/
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: 'tnum';
}
