.signIn {
    margin-right: 100px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    outline: none;
    border: none;
    background: transparent;
    transition: all 300ms;
    box-shadow: none;
    margin-left: 10px;
    cursor: pointer;
}

.signIn:hover {
    background: #6a9d29;
}

@media (max-device-width: 425px), (max-width: 425px) {
    .signIn {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
}