.body {
    display: flex;
    flex-wrap: wrap;
    z-index: 20;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 24px auto;
    font-size: 26px;
    position: relative;
    z-index: 20;
    height: 50px;
    border-radius: 10px;
    width: 1000px;
}



