.form {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
}

/*.header {
    width: 100%;
    background: linear-gradient(to right, #79827a, #85c633);
    height: 100px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid black;
    position:relative;
}

.headerTitle {
    color: white;
    font-size: 40px;
    margin: auto auto;
}*/

.formContainer {

    width: 45%;
    text-align: center;
    vertical-align: top;
}

.pageContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.upload {
    color: #85c633;
    cursor: pointer;
}
.upload:hover {
    color: #6a9d29;
}

.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
}

