.background {
    min-height: 100%;
    width: 100%;
    height: auto;
    position: center;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    background: white;

    flex-wrap: wrap;
    justify-content: normal;
}

.header {
    margin-bottom: 10px;

    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: #034488;
}

.smallHeader {
    margin-bottom: 10px;

    font-size: 19px;
    line-height: 20px;
    letter-spacing: 0.15px;

    color: #034488;
}

.img {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.avatar {
    width: 370px;
    height: 325px;
    object-fit: cover;
    display: inline-block;
    /*vertical-align: top;*/
}

.imgContainer {
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    width: 370px;
    height: 325px;
}

.input {
    height: 32px;
    width: 100%;
    margin: 10px 0;
    padding-left: 9px;

    border: 1px solid #034488;
    border-radius: 3.5px;

    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.input:focus {
    color: black;
}

.button {
    width: 110px;
    height: 36px;
    float: right;
    margin: 10px 0 20px 20px;

    background: #EDECE8;
    border: 1px solid #2F1E0A;
    box-sizing: border-box;
    border-radius: 4px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 500;

    display: block;
    text-align: center;
    letter-spacing: 0.16px;

    color: #034488;
}

.upperContainer {
    width: 753px;
    display: flex;
}

.halfContainer {
    display: block;
    position: relative;
    width: 365px;
    margin-left: 20px;
}

.infoContainer {
    display: block;
    position: relative;
    width: 753px;
}

.timeContainer {
    display: block;
    position: relative;
    width: 437px;
}

.weekDayContainer {
    display: flex;
    position: relative;
    width: 245px;
    margin-left: 20px;
    text-align: center;
}

.weekTimeContainer {
    display: block;
    position: relative;
    width: 88px;
    margin-left: 10px;
}

.smallInput {
    height: 20px;
    width: 100%;
    margin: 4px 0 4px 10px;
    text-align: center;

    border: 1px solid #034488;
    border-radius: 3.5px;

    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
}

.priceContainer {
    display: block;
    position: relative;
    width: 295px;
}

.contactContainer {
    display: block;
    position: relative;
    margin-left: 20px;
}

.tagUpperContainer {
    width: 677px;
    display: flex;
}

.tagContainer {
    display: block;
    position: relative;
    width: 753px;
}

.chooseTag {
    width: 574px;
    height: 27px;
    margin: 10px 0;
    position: relative;
    display: block;
}

.chooseButton {
    width: 146px;
    height: 27px;
    float: right;
    padding-left: 9px;

    background: white;
    border: 1px solid #034488;
    border-radius: 3.5px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);
}



