.background {
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.1)), url("./../../assets/images/provider_my_back.jpeg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.info {
    background-color: white;
    width: 329px;
    position: relative;
    box-shadow: #79827a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 500px;
    max-height: 650px;
    height: 650px;
}

.layout {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    /*position: relative;*/
    width: 100%;
    margin-top: 100px;
    padding-left: 80px;
}

.hobbiesBlock {
    /*height: 200px;*/
    margin-left: 100px;

    width: 1200px;
    position: relative;
    text-align: center;
    border: 2px solid yellow;
}

.title {
    background-color: #19B95D;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.hobbiesContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.addHobbyButton {
    height: 270px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: relative;
    border: none;
    padding-top: 50px;
    margin-right: 15px;
}

.addHobbyButton:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.addHobbyText {
    color: white;
    font-size: 24px;
    margin-top: 5px;
}

.mdDark {
    color: white;
    margin-top: 20px;
}

.header {
    width: 100%;
    background: linear-gradient(to right, #79827a, #19B95D);
    height: 100px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid black;
    position:relative;
}

.headerTitle {
    color: white;
    font-size: 40px;
    margin: auto auto;
}

.closeButton {
    margin: auto 15px;
    color: rgba(249, 249, 255, 0.56);
    cursor: pointer;
}

.closeButton:hover {
    color: rgba(249, 249, 255, 0.96);
    cursor: pointer;
}

.backImage {
    background: url("waves.png") repeat 100% 100%;
    height: 100%;
}

.blockForCards {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.scrollBlock {
    width: 100%;
    max-height: 750px;
    display: inline-block;
    overflow-x: hidden;
    margin: 10px -3px;
    padding-top: 1px;
}

#scrollBlock{}::-webkit-scrollbar{width: 5px;height: 5px;}
::-webkit-scrollbar-track-piece{background-color: #ffffff;}
::-webkit-scrollbar-thumb:vertical{height: 5px;background-color: #19B95D;}
::-webkit-scrollbar-thumb:horizontal{width: 5px;background-color: #19b95d;}


/*
.img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.imgWrapper {
    width: 323px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #19B95D;
    height: 300px;
}

.imgContainer {
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    width: 323px;
    height: 300px;

}

.imgContainer:hover .img,
.imgContainer:focus .img
{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}*/
