/*
.hobbyName {
    font-size: 24px;
    color: white;
    text-align: center;
}

.sportCard {
    width: 200px;
    height: 200px;
    background: url("ball.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #d20000;
}

.musicCard {
    width: 200px;
    height: 200px;
    background: url("music.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #008bb9;
}

.travelCard {
    width: 200px;
    height: 200px;
    background: url("travel.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #19b95d;
}*/
