.card {
    display: flex;
    flex-direction: column;
    box-shadow: #79827a;
    width: 315px;
    background-color: floralwhite;
    border-radius: 2px;
    font-size: 24px;
    margin-bottom: 10px;
    height: 550px;
}

.ul {
    margin-top: 10px;
}

.name {
    margin: 15px auto;
    color: #19B95D;
    font-size: 28px;
    font-style: italic;
    filter: drop-shadow(1px 1px green);
}

.add {
    color: white;
    background-color: #19B95D;
    border-radius: 5px;
    width: 245px;
    height: 30px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 12px;
    justify-content: space-around;
}