.card {
    width: 500px;
    margin: 10px auto;
    padding: 15px;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(18, 128, 64, 0.54);
}

.card:hover {
    box-shadow: 0 0 10px 3px rgba(18, 128, 64, 1);
}

.hobbyName {
    background-color: #19B95D;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 5px;
}
.hobbyInfo {
    margin-top: 10px;
    border: 1px solid black;
}
.title {
    font-size: 20px;
    margin-left: 20px;
}
.emptyCell {
    margin-top: 10px;
    border: 1px solid gray;
    height: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-right-style: none;
    border-left-style: none;
}

.hobbyImage {
    margin-top: 10px;
    width: 500px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
}

.hobbyTextInfo {
    width: 450px;
    margin-left: 20px;
    margin-bottom: 15px;
}
