.background {
    min-height: 100%;
    width: 90%;
    height: auto;
    position: center;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    background: white;

    flex-wrap: wrap;
    justify-content: normal;
}

.navigation {
    display: flex;
    justify-content: center;
    background: #FFFCF6;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.menu {
    display: flex;
    width: 71.5%;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 13px;
    list-style-type: none;
    padding-left: 0;
}

.menuPoint {
    height: 40px;
    width: 160px;
    margin-top: -12px;

    line-height: 40px;
    text-align: center;
}

.menuPoint:hover {
    background: #178FD6;
    color: white;
}

.passiveCategory {
    color: #034488;
}

.activeCategory {
    background: #178FD6;
    color: white;
}

.hobbyHeader {
    height: 70px;
    font-size: 30px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.slotContainer {
    display: flex;
    width: 95%;
    position: center;
    background: white;

    flex-wrap: wrap;
    justify-content: normal;
}

.infoContainer {
    position: relative;
    display: flex;
}

.feedbackHeader {
    margin-top: 345px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);
}

.feedbackContainer {
    position: relative;
    display: flex;
}

@media all and (max-device-width: 1540px) {
    .hobbiesBlock {
        width: 1000px;
    }
}

@media all and (max-device-width: 1340px) {
    .hobbiesBlock {
        width: 800px;
    }
}

@media all and (max-device-width: 1140px) {
    .hobbiesBlock {
        width: 600px;
    }
}

@media all and (max-device-width: 1000px) {
    .hobbiesBlock {
        width: 400px;
        margin-left: 120px;
    }
}
@media all and (max-device-width: 900px) {
    .hobbiesBlock {
        width: 400px;
        margin-left: 80px;
    }
}

@media all and (max-device-width: 850px) {
    .hobbiesBlock {
        width: 400px;
        margin-left: 40px;
    }
}

@media all and (max-device-width: 800px) {
    .layout {
        width: 400px;
        margin-left: 160px;
    }
    .hobbiesBlock {
        margin-left: 300px;
    }
}

@media all and (max-device-height: 800px) {
    .scrollBlock {
        max-height: 1050px;
    }
}
