.info {
    margin-right: auto;
    margin-left: 0;
}

@media all and (max-device-width: 1000px) {
    .info {
        margin-right: 0;
        margin-left: 40px;
    }
}

@media all and (max-device-width: 850px) {
    .info {
        margin-right: 0;
        margin-left: 20px;
    }
}

@media all and (max-device-width: 800px) {
    .info {
        margin-left: 300px;
    }
}
