.button {
    bottom: 400px;
    left: 50%;
/*    width: 200px;
    display: inline-block;
    align-self: center;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    line-height: 1.75;
    cursor: pointer;*/
}