.appBar {
    position: relative;
}

.form {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.header {
    width: 100%;
    background: linear-gradient(to right, #79827a, #19B95D);
    height: 100px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid black;
}

.headerTitle {
    color: white;
    font-size: 32px;
    margin: auto 0;
}

.signIn {
    position: absolute;
    right: 40px;
    top: 15px;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
}

.formTitle {
    margin: 30px auto;
    width: 1200px;
}

.closeButton {
    margin: auto 15px;
    color: rgba(249, 249, 255, 0.56);
    cursor: pointer;
}

.closeButton:hover {
    color: rgba(249, 249, 255, 0.96);
    cursor: pointer;
}

.partnerLoginBut {
    /*margin: auto 20px;*/
    margin-top: 12px;
    /*margin-right: 0;*/
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    outline: none;
    background: transparent;
    transition: all 300ms;
    box-shadow: none;
    border: none;
    /*margin-left: 10px;*/
    cursor: pointer;
}

.partnerLoginBut:hover {
    background: #128040;
}

.background {
    background: url("waves.png") repeat 100% 100%;
    height: 100%;
}

.registrationForm {
    width: 40%;
    background-color: white;
    margin: 25px auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(18, 128, 64, 0.54);
    padding: 20px;
}

.registrationForm:hover {
    box-shadow: 0 0 10px 3px rgba(18, 128, 64, 1);
}

.loginButContainer {
    margin-top: 15px;
}