.addMyHobby{

}
.iconNot{
    display: flex;
    justify-content: right;
    padding-left: 22px;
    margin: 0;
    color:  rgba(0, 0, 0, 0.87);
}
.iconHave{
    display: flex;
    justify-content: right;
    padding-left: 22px;
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
}
.iconProvider{
    display: flex;
    justify-content: right;
    margin: 0;
    color: #6b6e58;
    transform: scale(-1, 1);
}
.text{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    text-align: center;
    letter-spacing: 0.16px;
    color: #034488;;
}
.textCancel{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16px;
    color: #121212;

}
.textAddMyHobby{
    font-size: 20px;
}
.iconClear{
    margin: 0px;
    color:  rgba(0, 0, 0, 0.54);
}
